Source: synergy
Section: utils
Priority: optional
Standards-Version: 4.6.2
Homepage: https://www.symless.com/
Maintainer: Symless <engineering@symless.com>
Uploaders: xiangzelong <xiangzelong@deepin.org>
Build-Depends:
        debhelper-compat (= 13),
        cmake,
        libavahi-compat-libdnssd-dev,
        libcurl4-openssl-dev | libcurl-dev,
        libgtest-dev <!nocheck>,
        libgmock-dev <!nocheck>,
        libssl-dev,
        libxtst-dev,
        libx11-dev,

Package: synergy
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: Keyboard and mouse sharing solution
 Synergy allows you to share one mouse and keyboard between multiple computers.
 Work seamlessly across Windows, macOS and Linux.
